[build]
  command = "yarn build"
  publish = "dist"

[dev]
  command = "yarn dev"
  targetPort = 5173
  port = 8888
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

